@mixin mobile_portrait {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin mobile_landscape {
  @media screen and (min-width: 700px) and (max-width: 1180px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

$blue-shades: #00132D, #00193b, #001e45, #002657, #002d67, #00377e, #17498a, #2c5a95, #3f699f, #5077a8;
$text-color: #fff;


html,
body {
  max-width: 100%;
  margin: 0 auto;
}

.formContainer {
  background-color: nth($blue-shades, 2);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile_portrait();

  @include mobile_landscape() {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  @include mobile_landscape() {
    overflow-y: hidden;
    overflow-x: hidden;
  }



  .formWrapper {
    background-color: nth($blue-shades, 1);
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: $text-color;
      font-weight: bold;
      font-size: 24px;

    }

    .title {
      color: $text-color;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        border-radius: 10px;
        width: 250px;
        border-bottom: 1px solid white;

        &::placeholder {
          color: rgb(175, 175, 175);
        }

       
      }

      .passwordInput {
        position: relative;
    }
    
    .passwordIcon {
        position: absolute;
        color: nth($blue-shades, 2);
        top: 50%;
        transform: translateY(-50%);
        right: 10px; 
        cursor: pointer;
    }

      button {
        background-color: nth($blue-shades, 4);
        border-radius: 10px;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
      button:hover{
        opacity: 0.5;
      }

      label {
        display: flex;
        width: fit-content ;
        align-items: center;
        gap: 10px;
        color: white;
        font-size: 12px;
        cursor: pointer;

        .addPhoto{
          display: none;
        }

        .img {
          width: 32px;
        }
        &:hover{
          opacity: 0.7;
          .addPhoto{
            display: block;
            width: 32px;
          }
          .avatarPreview{
            display: none;
          }
      }
      }
    }

    p {
      color: $text-color;
      font-size: 12px;
      margin-top: 10px;

      a{
        color: #5077a8;
        font-size: 14px;
      }:hover{
        opacity: 0.5;
      }
    }
  }
}

.home {
  background-color: nth($blue-shades, 2);
  height: calc(100vh - 1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;

    @include mobile_portrait() {
      width: 100%;
      height: 100%;
      border-radius: 0%;
      border: none;
    }

    @include mobile_landscape() {
      width: 100%;
      height: 100%;
      border-radius: 0%;
      border: none;
    }


    .sidebar {
      flex: 1;
      background-color: nth($blue-shades, 3);
      position: relative;
      overflow: scroll;

      @include mobile_portrait() {
        max-width: 15%;
      }

      @include mobile_landscape() {}

      .navbar {
        display: flex;
        align-items: center;
        background-color: nth($blue-shades, 4);
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #ddddf7;


        .logoMsg {
          display: flex;
          gap: 5px;

          .msgIcon {
            cursor: pointer;

          }


        }

        @include mobile_portrait() {
          .logoMsg {
            margin: 0 auto;
          }
        }

        @include mobile_landscape() {
          .logoMsg {
            margin: 0 auto;
          }
        }

        .logo {
          font-weight: bold;
          margin: auto;
          cursor: pointer;


          @include mobile_portrait() {
            display: none;
          }

        }

        .user {
          display: flex;
          gap: 10px;

          @include mobile_portrait() {
            display: none;
          }


          span {
            margin: auto;
            @include mobile_landscape() {
              display: none;
            }
          }

          .img {
            object-fit: cover;

            @include mobile_portrait() {
              display: none;
            }
            @include mobile_landscape() {
              display: none;
            }

           
          }
          
          .icons{
            display: flex;
            gap: 5px;

            .profile{
              display: none;
            }

            .logout {
              color: $text-color;
              margin: auto;
  
              cursor: pointer;
  
              &:hover {
                opacity: 0.5;
              }
  
              @include mobile_portrait() {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                
              }
              
              @include mobile_landscape() {
                display: block;
                top: 22px;
                right: 10px;
              }
            }
          }
          

        }



      }

      .search {
        border-bottom: 1px solid gray;
        background-color: white;

        .searchIcon {
          display: none;

        }

        @include mobile_portrait() {
          .searchIcon {
            display: block;
            color: nth($blue-shades, 5);
            padding: 5px;
            margin: 0 auto;
            cursor: pointer;
          }

          .searchIcon:hover {
            opacity: 0.5;
          }
        }


        .searchForm {
          padding: 10px;


          .input {
            background-color: white;
            color: white;
            width: 100%;
            border: 1px solid;
            border-bottom: 0px;


            &::placeholder {
              color: lightgray;
            }

          }

          @include mobile_portrait() {
            display: none;

            &.mobile {
              display: block;

              .input {
                background-color: white;
                border: 1px solid white;
                outline: none;
                opacity: 1;
                width: 100%;

                &::placeholder {
                  color: $text-color;
                }
              }
            }
          }
        }
        .userChat{
          padding: 10px;
          display: flex;
          flex: 1;
          align-items: center;
          gap: 10px;
          background-color: nth($blue-shades, 3);
          color: white;
          border-bottom: 1px solid nth($blue-shades, 1);
          cursor: pointer;
  
          &:hover {
            background-color: nth($blue-shades, 4);
          }
  
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        flex: 1;
        align-items: center;
        gap: 10px;
        color: white;
        border-bottom: 1px solid nth($blue-shades, 1);
        cursor: pointer;

        &:hover {
          background-color: nth($blue-shades, 4);
        }

        img {
          object-fit: cover;


        }

        @include mobile_portrait() {
          justify-content: center;
        }

        .userChatInfo {
          max-width: 300px;
          span {
            font-size: 18px;
            font-weight: 500;
          }

          p {
            font-size: 14px;
            color: lightgray;
            margin: auto;
            white-space: pre-line;
            overflow-wrap: break-word;
            word-break: break-all;
          }

          @include mobile_portrait() {
            display: none;
            max-width: 150px;

          }

        }

        .times {
          flex: 2;
          width: fit-content;

          p {
            font-size: 12px;
            font-weight: 200;
            color: lightgray;
            float: right;
          }

          @include mobile_portrait() {
            display: none;
          }

        }

        &.new-message {
          background-color: nth($blue-shades, 10);
          border: 1px solid bold black;

        }
      }

      .logoutIcon {
        display: none;
        color: $text-color;
        justify-content: center;
        margin: 0 auto;
        cursor: pointer;

        @include mobile_portrait() {
          display: block;
          position: absolute;
          align-items: center;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
          gap: 5px;
          left: 0;
          right: 0;
          bottom: 0;
          text-align: center;

      

        }

        &:hover {
          opacity: 0.5;
        }


      }




    }

    .sidebar::-webkit-scrollbar {
      display: none;
    }

    .chat {
      flex: 2;

      @include mobile_portrait() {
        width: 90%;
      }

      @include mobile_landscape() {}

      .chatInfo {
        height: 50px;
        background-color: nth($blue-shades, 5);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        img {
          height: 24px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: nth($blue-shades, 2);
        padding: 10px;
        height: calc(100% - 160px);
        overflow: scroll;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            span {
              font-size: 10px;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
              white-space: pre-line;
              overflow-wrap: break-word;
              word-break: break-all;

            }

            img,
            video {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;

              p {
                background-color: nth($blue-shades, 10);
                color: white;
                border-radius: 10px 0px 10px 10px;
                white-space: pre-line;
                overflow-wrap: break-word;
                word-break: break-all;
              }
            }
          }
        }
      }

      .messages::-webkit-scrollbar {
        display: none;
      }

      .input {
        height: fit-content;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textfield {
          width: 100%;
          height: 100%; 
          resize: none; 
          overflow: hidden;
          border: none;
          outline: none;
          color: #2f2d52;

          &::placeholder {
            color: lightgray;
          }
          &:focus {
            border-color: #1976d2;
          }
          &:hover,
          &:focus {
            overflow: auto;
          }
          
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            border: none;
            padding: 10px 15px;
            color: white;
            background-color: nth($blue-shades, 4);
            border-radius: 15%;
            cursor: pointer;
          }
        }
      }
    }

    .friends {
      flex: 2;
      overflow: scroll;

      .Info {
        height: 50px;
        background-color: nth($blue-shades, 5);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;

      }

      .friendsList {
        padding: 15px;
        display: flex;
        justify-content: center;
        margin: 0 auto;



        .friendCard {
          margin-top: 15px;
          border: 1px solid white;
          color: $text-color;
          background-color: #00193b;
          width: 100% !important;
        }
      }

    }

    .friends::-webkit-scrollbar {
      display: none;
    }
  }
}

.menu{
  .iconbutton{
    &:hover{
      opacity: 0.5;
    }
  }      
}