@mixin mobile {
  @media screen and (max-width: 480px) and (orientation:portrait) {
    @content;
  }
}

@mixin mobile_landscape {
  @media screen and (min-width: 600px) and (orientation : landscape) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

html,
body {
  max-width: 100%;
  margin: 0 auto;
}

.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile(){
    overflow-y: hidden;
    overflow-x: hidden;
  }
  

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 24px;

    }

    .title {
      color: #5d5b8d;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #a7bcff;

        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }

    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;

    @include mobile() {
      width: 100%;
      height: 100%;
      border-radius: 0%;
      border: none;
    }

    .sidebar {
      flex: 1;
      background-color: #3e3c61;
      position: relative;
      @include mobile(){
        max-width: 12%;
      }

      .navbar {
        display: flex;
        align-items: center;
        background-color: #2f2d52;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #ddddf7;
        

        .logoMsg{
          display: flex;
          gap: 5px;
          .msgIcon{
            display: none;
            cursor: pointer;
            @include tablet {
              display:block;
            }

          }
        }

        .logo {
          font-weight: bold;
          margin: auto;

          @include tablet {
            display: none;
          }

          @include mobile(){
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;

          span{
            margin:auto;
            @include mobile(){
              display: none;
            }
          }

          img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;

            @include mobile(){
              display: none;
            }
          }

          .logout {
            color: #ddddf7;
            cursor: pointer;

            @include mobile() {
              position: absolute;
              bottom: 10px;
              left: 10px;
            }
            &:hover{
              opacity:0.5;
            }
          }
          
        }
      }

      .search {
        border-bottom: 1px solid gray;

        .searchIcon{
          display: none;
          
        }
        @include mobile(){
          .searchIcon{
            display: block;
            color:#ddddf7;
            padding: 5px;
            margin: 0 auto;
            cursor: pointer;
          }:hover{
            opacity: 0.5;
          }
          }

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder {
              color: lightgray;
            }
          }
          @include mobile(){
            display: none;
          }
        }
        
      }

      .userChat {
        padding: 10px;
        display: flex;
        flex:1;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #2f2d52;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          @include mobile(){
            width: 25px;
            height: 25px;
          }
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: 500;
          }

          p {
            font-size: 14px;
            color: lightgray;
            margin: auto;
          }
          @include mobile(){
            display: none;
          }

        }

        .times {
          flex:2;
          p {
            font-size: 12px;
            font-weight: 200;
            color: lightgray;
            float: right;
          }
          @include mobile(){
            display: none;
          }

        }

      }
    }

    .chat {
      flex: 2;

      @include mobile(){
        width: 90%;
      }

      .chatInfo {
        height: 50px;
        background-color: #5d5b8d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        img {
          height: 24px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: #ddddf7;
        padding: 10px;
        height: calc(100% - 160px);
        overflow: scroll;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            span{
              font-size: 10px;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img, video{
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;

              p {
                background-color: #8da4f1;
                color: white;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .messages::-webkit-scrollbar {
        display: none;
      }

      .input {
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          border: none;
          outline: none;
          color: #2f2d52;
          font-size: 18px;

          &::placeholder {
            color: lightgray;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            border: none;
            padding: 10px 15px;
            color: white;
            background-color: #8da4f1;
            cursor: pointer;
          }
        }
      }
    }
  }
}