name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v2

    - run: npm install

    - name: Build
      run: npm run build

    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
        name: my-artifact
        path: react_chat
    
    - name : Scripts
      run: | 
        echo "Ce workflow a été exécuté avec succès !"
 
  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses : actions/checkout@v2
      - run: npm install
      - name: Run Tests
        run: |
          npm test || exit 1


