name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: npm install
    
    - name : Scripts
      run: | 
        echo "Ce workflow a été exécuté avec succès !"
 
  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Run Tests
        run: |
          npm test || exit 1

  deploy : 
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Deploy & Production 
        run: |
          npm run build

