name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: npm install

      - name: Build
        run: npm run build

      - name: Archive artifacts
        uses: actions/upload-artifact@v3
        with:
          name: my-build
          path: build

      - name: Scripts
        run: |
          echo "Ce workflow a été exécuté avec succès !"

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v3
      - run: npm install

      - name: Run Tests
        run: |
          npm test || exit 1

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v3
      - run: npm install

      - name: Deploy to Production
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: 51.91.148.161
          username: ducobu
          password: ducobu
          local-dir: build/
          server-dir: Rayane
